<!DOCTYPE html>
<html ng-app='reviewBoard'>
<head>
<title>My Review Board</title>
<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap-theme.min.css">
<body>
 <!-- directives to display and add reviews -->
<displayreview-section ng-controller="displayReviewCtrl"></displayreview-section>
<addreview-section ng-controller="enterReviewCtrl"></addreview-section> 

<script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="angular/angular.js"></script>
<script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="reviewBoard.js"></script>
<script type="text/javascript" src="directives/reviewDirectives.js"></script>

</body>
</head>
</html>