<!DOCTYPE html>
<html ng-app='reviewBoard'>
<head>
<title>My Review Board</title>
<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap--theme.min.css">
<body>
<div ng-controller='displayReview'>
 <div class='container'>
 
 <div class="panel panel-default" ng-repeat="review in reviews">
  <div class="panel-heading">
    {{review.name}}
  </div>
  <div class="panel-body">
     {{review.description}}
  </div>
</div>
 </div>
</div>
<div ng-controller='enterReview'>
</div>

<script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="angular/angular.js"></script>
<script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="reviewBoard.js"></script>
</body>
</head>
</html>