
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark  navbar-fixed-bottom">
        <div class="collapse navbar-collapse">			
         <ul  class="navbar-nav mr-auto">
          <li class="nav-item disabled">
           <a>Sandeep</a>
          </li><!-- /li -->
          <li class="nav-item">
                <a>&nbsp;&nbsp;&nbsp;</a>
          </li>
          <li class="nav-item disabled">
           <a>Sai</a>
          </li><!-- /li -->
          <li class="nav-item disabled">
                <a href="#">&nbsp;&nbsp;&nbsp;</a>
          </li>
          <li class="nav-item disabled">
           <a>Shubham</a>
          </li><!-- /li -->
          <li class="nav-item disabled">
                <a>&nbsp;&nbsp;&nbsp;</a>
          </li>
          <li class="nav-item">
           <a>Pavan</a>
          </li><!-- /li -->
         </ul><!-- /ul -->	
         </div>
     </nav><!-- /footer -->
</div>