<section class="section text-center bg hero-bg electric-gradient light-theme">
    <div class="container-fluid">
      <div class="row centered-form">
        <div class="col-sm-5">
          <div class="form-box">
            <div class="form-top">
              <div class="form-top-center">
                
                <h3>Enter userID (email)</h3>
              </div>
              <div class="form-top-right">
                <i class="fa fa-key"></i>
              </div>
            </div>
            <div class="form-bottom">
              <form>
                <div class="form-group">
                  <label class="sr-only" for="form-username">Username</label>
                  <input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username" [(ngModel)]="loginInfo.userId"  name = "userId" >
                </div>
               <button  class="btn btn primary" (click)= "submitUser()">Submit!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  