<section class="bg hero-bg rose-gradient dark-theme">
<div class="container">
        <div class="row">
         <div class="col-sm-3">
          <span class="pull-left"><img [src]="mediaUrl+profilePic" alt="assets/img/users/11.jpg" class="thumb-lg img-circle"></span>
          <div class="media-body">
           <h4 class="m-t-5 m-b-5 ellipsis">{{profileData.firstName}}</h4>
           <p class="font-13"> {{profileData.deparment}}</p>
           <p class="text-muted"><small>{{profileData.city}}</small></p>
          </div><!-- /media-body -->
         </div><!-- /col-sm-6 -->
         <div class="col-sm-3">
             
         </div><!-- /col-sm-6 -->
         <div class="col-sm-6">
          <div class="text-right">
           <button type="button" class="btn btn-success waves-effect waves-light" [routerLink]="['/profile']">
            <i class="fa fa-user m-r-5"></i> Edit Profile
           </button>
          </div><!-- /text-right -->
          <br>
           <div class="card">
                 <div class="card-body">
                  <div class="card-block">
                   <h4 class="card-title info">About</h4>
                   <p class="card-text">{{profileData.about}}</p>
                   <div class="text-left">
                    <p class="card-text"><strong>Full Name :</strong> <span class="m-l-15">{{profileData.firstName}},{{profileData.lastName}}</span></p>
                    <p class="card-text"><strong>Mobile :</strong><span class="m-l-15">{{profileData.mobileNo}}</span></p>
                    <p class="card-text"><strong>Department :</strong> <span class="m-l-15">{{profileData.deparment}}</span></p>
                    <p class="card-text"><strong>City :</strong> <span class="m-l-15">{{profileData.city}}</span></p>
                   </div>			
                  </div>
                 </div>
                </div>		
         </div><!-- /col-sm-6 -->
        </div><!-- /row -->
     </div><!-- /container -->

    
 
<div class="main-content">


 <div class="container">
     <div class="row" *ngFor="let feed of feeds">
         <div class="col-md-8">
             <div class="card">
                 <div class="card-header" data-background-color="blue">
                     <div class="ct-chart" id="feedBy"><p>Posted BY {{feed.feedBy}} ....				
                     </p></div>
                 </div>
                   <div class="card-content">
                         <h4>{{feed.feeTitle}}</h4>
                         <p class="category">{{feed.feedContent}}</p>
                         <div *ngIf="feed.isImage == 'Y'">
                          <img [src]="mediaUrl+feed.media" alt="Smiley face" width="200" height="100"/>
                         </div>
                          <div *ngIf="feed.isVideo == 'Y'">
                          <video width="320" height="240" controls>
                             <source [src]="mediaUrl+feed.media"/>
                             Your browser does not support the video tag.
                         </video>
                      </div>
                 </div>
              </div>
                 <div class="card-footer">
                     <div class="stats">
                         <i class="material-icons"></i> {{feed.feedTime}}
                     </div>
                 </div>
             </div>
        </div>
         
     
 </div>
</div>
</section>